<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">

  <?include Var.wxi?>

  <Fragment>    
    <DirectoryRef Id="INSTALLLOCATION">
      
      <Component Id="AppPool" Guid="" KeyPath="yes">
        <iis:WebAppPool Id="AppPool" Name="$(var.ProductName)" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="integrated" />
      </Component>

      <Component Id="WebSite" Guid="751DEB01-ECC1-48ff-869A-65BCEE9E0528" KeyPath="yes">        
        <iis:WebSite Id="Site" Description="$(var.ProductName)" Directory="INSTALLLOCATION" >
          <iis:WebAddress Id="AllUnassigned" Port="8080" />
          <iis:WebApplication Id="WebApp" Name="WebApp" WebAppPool="AppPool" />          
          <iis:WebDirProperties Id="DirProp" AnonymousAccess="yes" WindowsAuthentication="no" />
        </iis:WebSite>      
      </Component>
      
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="IssConfiguration">      
      <ComponentRef Id="AppPool" />
      <ComponentRef Id="WebSite" />
    </ComponentGroup>

  </Fragment>
</Wix>
