<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>  
  
  <connectionStrings>
    <clear />
    <add name="adminDB" connectionString="data source=|DataDirectory|\users.sqlite" providerName="System.Data.SqLite" />
    <add name="db2" connectionString="DRIVER={IBM DB2 ODBC DRIVER};PROTOCOL=TCPIP;HOSTNAME=127.0.0.1;PORT=50000;DATABASE=dlib;CURRENTSCHEME=DLIB;UID=db2admin;PWD=1;" />
    <add name="ПТК_АСВ" connectionString="DRIVER={InterSystems ODBC};SERVER=10.13.0.43;PORT=1972;DATABASE=asv;UID=test_user;PWD=test_user13;" />
  </connectionStrings>

  <appSettings>    
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ItemsPerPage" value="50" />
    <add key="ConnTimeout" value="3000" />
  </appSettings>
  
  <system.data>    
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.88.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <connectionStringName value="adminDB" />      
      <commandText value="INSERT INTO qb_logs (datelog, level, user, host, message) VALUES (@date, @level, @user, @host, @message)" />
      <parameter>
        <parameterName value="@date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@user" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{user}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@host" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{host}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">          
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net> 

  <system.web>    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms name="ASVAUTH" loginUrl="~/Account/LogOn" timeout="43200" />
    </authentication>

    <membership defaultProvider="AccessMembershipProvider" hashAlgorithmType="SHA256">
      <providers>
        <clear />
        <add connectionStringName="adminDB" minRequiredPasswordLength="6" maxInvalidPasswordAttempts="3" minRequiredUsernameLength="9" passwordAnswerAttemptLockoutDuration="1" saltLength="16" name="AccessMembershipProvider" type="asv.Security.AccessMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AccessRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="adminDB" name="AccessRoleProvider" type="asv.Security.AccessRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>    
    <globalization culture="ru-RU" uiCulture="ru-RU" />
    <machineKey decryptionKey="6765C2CF2937326E51AE61593FF61F15B4FEF6F67B768EAC,IsolateApps" validationKey="1E22C1D595BDE381A01B4C67F9E19C40E9197033BB1FE6364F06AD1EC18ADFF20F6E8CC115299143CA2766B938358584A79F27D9600776136C8FEA8CA28FD1C3,IsolateApps" />
  </system.web>

  <system.webServer>    
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />       
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>
