<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />    
  </configSections>
  
  <connectionStrings>
    <clear />
    <add name="adminDB" connectionString="data source=|DataDirectory|\users.sqlite"
      providerName="System.Data.SqLite" />
    <add name="db2" connectionString="DRIVER={IBM DB2 ODBC DRIVER};PROTOCOL=TCPIP;HOSTNAME=127.0.0.1;PORT=50000;DATABASE=dlib;CURRENTSCHEME=DLIB;UID=db2admin;PWD=1;" />
    <add name="ПТК_АСВ" connectionString="DRIVER={InterSystems ODBC};SERVER=10.13.0.43;PORT=1972;DATABASE=asv;UID=test_user;PWD=test_user13;" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ItemsPerPage" value="50" />
    <add key="ConnTimeout" value="3000" />
  </appSettings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="user.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender" />
    </root>
  </log4net> 

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms name="ASVAUTH" loginUrl="~/Account/LogOn" timeout="43200"/>
    </authentication>

    <membership defaultProvider="AccessMembershipProvider" hashAlgorithmType="SHA256">
      <providers>
        <clear />
        <add connectionStringName="adminDB" minRequiredPasswordLength="6"
          maxInvalidPasswordAttempts="3" minRequiredUsernameLength="4"
          passwordAnswerAttemptLockoutDuration="1" saltLength="12" name="AccessMembershipProvider"
          type="asv.Security.AccessMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AccessRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="adminDB" name="AccessRoleProvider" type="asv.Security.AccessRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>    
    <globalization culture="ru-RU" uiCulture="ru-RU"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />       
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>
</configuration>
